.weatherDisplay {
  display: flex;
  background: linear-gradient(rgba(101, 77, 238, 1) 25%, rgba(81, 228, 255, 1) 75%);
  border-radius: 15px;
  padding: 20px;
  margin: 0 5%;
  min-width: 50px;
  max-width: 500px;
  width: 80%;
}

.weatherContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: stretch;
}

.weatherDetails {
  color: #112340;
  display: flex;
  justify-content: space-evenly;
}

#locationName {
  text-align: center;
  margin: 0px;
}

#weatherInfo {
  margin-left: 5%;
  margin-right: 5%;
}

#loadingIcon {
  height: 250px;
}